* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
    margin: 0 128px;
}


header {
    background: rgb(255, 255, 255);
    width: auto;
    height: 64px;

}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: #111111;
    padding: 8px 12px;
    text-decoration: none;
}

.links a:hover {
    font-weight: bold;    
}

.links a img {
    padding: 8px 12px;
}




section .container{
    display: grid;
    grid-template-columns: 1fr 1fr;

    width: 100%;
    height: 360px;

    background: #FBDFDB;
    border-radius: 30px;
  
}

.container .text {
    grid-column-start: 1;
    grid-column-end: 2;

    width: 50%;
    margin: 64px 64px 0;
    
}

.container h1 {
    text-align:left;
    margin-bottom: 12px;
    font-size: 32px;
}

.container p {
    text-align:start;
    
}

.container .img {
    grid-column-start: 2;
    grid-column-end: 3;

    justify-content: center;
    margin: 64px 32px 0 64px;
    bottom: 0;    
}

.container-recipes .mais-acessadas {
    margin-top: 24px;
    margin-bottom: 12px;
}

.container-recipes .mais-acessadas h1{
    font-size: 24px;
}