* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
}

main {
    margin: 0 128px;
}

header {
    background: rgb(255, 255, 255);
    width: auto;
    height: 64px;
    margin: 0 128px;
}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: #111111;
    padding: 8px 12px;
    text-decoration: none;
}

.links a:hover {
    font-weight: bold;
}

.links a img {
    padding: 8px 12px;
}

section .container {
    width: 100%;
    height: 360px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    background: #FBDFDB;
    border-radius: 30px;
}

.container .text {
    grid-column-start: 1;
    grid-column-end: 2;
    width: 50%;
    margin: 64px 64px 0;
}

.container h1 {
    text-align: left;
    margin-bottom: 12px;
    font-size: 2.29rem;
    font-weight: bold;
}

.container p {
    
    opacity: 0.7;
    line-height: 28px;
    font-size: 1.29rem;
}

.container .img {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: center;
    margin: 64px 32px 0 64px;
    bottom: 0;
}

.container-recipes .mais-acessadas {
    margin-top: 32px;
    margin-bottom: 18px;
}

.container-recipes .mais-acessadas h1 {
    font-size: 1.71rem;
    font-weight: 700;
}

.receitas-vistas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px;
    margin-bottom: 128px;
}



.receitas-vistas .receita img {
    border-radius: 15px;
    width: 100%;
}

.receitas-vistas .receita h2 {
    margin-top: 12px;
    font-size: 1.29rem;
    font-weight: 400;
}

.receitas-vistas .receita h3 {
    font-size: 1rem;
    color: #777777;
    margin-bottom: 18px;
}

footer {
    width: 100%;
    height: 60px;

    bottom: 0;

    background: #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
}

footer p {
    font-weight: 400;
    font-size: 1rem;
    color: #999999;
    text-align: center;
}


@media only screen and (min-device-width : 0px) and (max-device-width : 1024px) {
    
    html {
        font-size: 12px;
    }

    header {
        margin: 0 5%;
        
    }

    header #logo {
        padding-left: 0;
    }

    header #logo img {
        padding-left: 0;
    }

    main {
        margin: 0 5%;
    }

    section .container {
        display: flex;
    }

    .container .img {
        display: none;
    }

    section .container {
        width: auto;
        height: auto;
        padding: 32px 24px;


        display: flex;
        align-items: center;
        justify-content: center;
    }

    .container .text {
        width: 100%;
        margin: 0;
    }

    .container .text h1 {
        text-align: center;
    }

    .container .text p {
        text-align: center;
    }

    .receitas-vistas {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        gap: 16px;
        margin-bottom: 64px;
    }

}