* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background: white;
    
}

main {
    margin: 0 128px;
}

header {
    background: rgb(255, 255, 255);
    width: auto;
    height: 64px;
    margin: 0 128px;

}

.links {
    display: flex;
    align-items: center;
}

.links a {
    color: #111111;
    padding: 8px 12px;
    text-decoration: none;
}

.links a:hover {
    font-weight: bold;    
}

.links a img {
    padding: 8px 12px;
}




section .container{
    display: grid;
    grid-template-columns: 2fr 1fr;

    width: 100%;
    height: 360px;

    background: #FBDFDB;
    border-radius: 30px;
  
}

.container .text {
    grid-column-start: 1;
    grid-column-end: 2;

    width: 50%;
    margin: 64px 64px 0;
    
}

.container h1 {
    text-align:left;
    margin-bottom: 12px;
    font-size: 32px;
    font-weight:bold;
}

.container p {
    text-align:start;
    opacity: 0.7;
    line-height: 28px;
    font-size: 18px;
    
}

.container .img {
    grid-column-start: 2;
    grid-column-end: 3;

    justify-content: center;
    margin: 64px 32px 0 64px;
    bottom: 0;    
}

.container-recipes .mais-acessadas {
    margin-top: 32px;
    margin-bottom: 18px;
}

.container-recipes .mais-acessadas h1{
    font-size: 24px;
    font-weight: 700;
}

.receitas-vistas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 18px;
   
}

.receitas-vistas .receita img{
    border-radius: 15px;
    width: 100%;
}

.receitas-vistas .receita h2 {
    margin-top: 12px;
    font-size: 18px;
    font-weight: 400;
}

.receitas-vistas .receita h3 {
    font-size: 14px;
    color: #777777;
    margin-bottom: 18px;
}

footer {
    width: 100%;
    height: 60px;
    margin-top: 60px;
    bottom: 0;

    background: #eeeeee;

    display: flex;
    align-items: center;
    justify-content: center;
}

footer p {
    font-weight: 400;
    font-size: 14px;
    color: #999999;
    text-align: center;    
}